*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(loginback.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
nav{
    background-color: #4d4d4d;
    display: flex;
    padding: 1% 10%;
}
.links{
    flex: 1;
    text-align: right;
}
.links ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}
.links ul li a{
    color: #bfbfbf;
    text-decoration: none;
}
.links ul li a::after{
	content: "";
    background: white;
	mix-blend-mode: exclusion;
    width: calc(100% + 2px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: 0px;
	transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.links ul li a:hover::after{
	height: calc(100% + 8px)
}
/* login & register page */
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #ffff;
    padding: 5px;
}
.inputtabs{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.inputtabs a{
    color: #080808;
    text-decoration: none;
}
.companyname{
    margin: 80px 0 0 0;
    text-align: center;
}
.input-field{
    width: 100%;
    padding: 10px 0px;
    margin: 5px 0px 15px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-button{
    width:85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    background: linear-gradient(to right, #aa212c,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 5px 10px 20px 20px;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 111px;
    position: absolute;
}
#login{
    left: 50px;
}
#Register{
    left: 50px;
}
/* hisory page */
.history-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.history-table thead tr{
    background-color: #d37f30;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.history-table th, .history-table td{
    padding: 12px 15px;
}
.history-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.history-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.history-table tbody tr:last-of-type{
    border-bottom: 2px solid #d37f30;
}
/* form page */
.form-position{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.form-container{
    min-width: 500px;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 5px;
}
.form-container .form-head{
    font-size: 25px;
    font-weight: 1000;
    position: relative;
    padding: 10px;
}
form .request-detail .input-box{
    margin: 15px;
}
.request-detail .input-box .request{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
.request-detail .input-box input{
    height: 30px;
    width: 96%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px; 
}
form .form-button{
    height: 45px;
    margin: 45px 0;
}
form .form-button input{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    background: linear-gradient(to right, #aa212c,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
